
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('https://img.freepik.com/free-vector/abstract-futuristic-background-concept_23-2148409810.jpg?t=st=1732134560~exp=1732138160~hmac=a4dd97aa85455bd104184eb49b45b2aa064b78370d0058279accd5e9c037c689&w=900'); 
    background-size: cover; 
    background-position: center;
    margin: 0;
    padding: 0;
    color: white;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 15px;
    width: 90%;
    max-width: 700px;
    margin: 100px auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #00ff00;
}

h1 {
    font-size: 24px;
    color: #00ff00;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="checkbox"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #555;
    border-radius: 8px;
    background-color: #222;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #00ff00;
    box-shadow: 0 0 8px #00ff00;
}

input[type="checkbox"] {
    width: auto;
    margin: 10px 0;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #00ff00;
    transform: scale(1.5);
    display: inline-block;
    cursor: pointer;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #007BFF, #0056b3);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(45deg, #0056b3, #003d80);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px; /* Space between error message and input */
    text-align: left;
}


.benefits {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.9);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    border: 2px solid #00ff00;
}

.benefits h2 {
    font-size: 18px;
    color: #00ff00;
    margin-bottom: 10px;
}

.benefits ul {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    text-align: left;
    color: white;
}

.benefits ul li {
    margin: 8px 0;
    line-height: 1.5;
}